<section class="video-player flow">
        <video controls type="video/mp4"></video>
        <label for="video-url-field">Video URL</label>
        <input type="url" name="video-url-input" id="video-url-field" class="video-url-input">
        <button class="video-url-button">Select Video</button>
        <button class="video-add-savepoint">Add Savepoint</button>
        <ul class="video-savepoints">

        </ul>
</section>
{# https://cdn.cs50.net/2024/fall/lectures/3/lecture3-720p-hdr.mp4 #}
