<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Titch a helper app for solving Spelling Bee game and more. Made by Lebron Consulting">
    <title>Titch - A helper app</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body class="wrapper flow">
    <div class="region">
        <a href="/">
            <h1>Titch</h1>
        </a>
    </div>
    
    {% include "components/spelling-bee.njk" %}

    {% include "components/video-player.njk" %}

    <footer class="region">
        <p>
            Built with 😁 and 🍵 by
            <a href="https://www.lebronconsulting.tech/">Benjamin Lebron</a>
        </p>
    </footer>
</body>
<script type="module" src="/scripts/index.js"></script>
</html>